<div class="tmt-modal" ng-if="showModal">
    <div class="tmt-modal-content" ng-class="extraClass">
           <span ng-click="closeModal()()" class="icon-close"></span>
           <div class="tmt-mobile-filter-wrapper">
               <div class="modal-year-filter">
                   <div class="modal-year-filter-text">
                       <span>Year Filter</span>
                   </div>
                    <select class="filter-left" ng-model="allFilters.selectedYearFilter" ng-change="applyFilter(allFilters.selectedYearFilter, 'LEFT_FILTER');closeModal()();">
                            <option selected disabled value>Select Year</option>
                            <option ng-repeat="x in yearList" value="{{x}}">{{x}}</option>
                    </select> 
               </div>
               <div class="general-year-filter">
                    <div>
                            <span class="general-filter-text">General Filter</span>
                    </div>
                    <select class="filter-right" ng-model="allFilters.selectedFilter" ng-change="applyFilter(allFilters.selectedFilter, 'RIGHT_FILTER');closeModal()();">
                            <option selected disabled value>Select Filter</option>
                            <option ng-repeat="x in movieFilters" value="{{x.filterId}}">{{x.desc}}</option>
                    </select>
                </div>
                <span class="icon-home3"></span>
            </div>
    </div>
</div>