<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TMT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link type="text/css" rel="stylesheet" href="/public/index.css">
    <link type="image/png" rel="shortcut icon" href="./images/title_icon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121634598-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121634598-1');
    </script>
  </head>
  <body>
      <div ng-app="tmt" ng-controller="mainCtrl">
          <div ng-view></div>
      </div>

      <!-- Libraries -->
      <script src="/scripts/circles.min.js"></script>

      <!-- Controllers -->
      <script src="/scripts/index.js"></script>
      <script src="/scripts/controllers/mainController.js"></script>

      <!-- Directives -->
      <script src="/scripts/directives/header/index.js"></script>
      <script src="/scripts/directives/movieCard/index.js"></script>
      <script src="/scripts/directives/modal/index.js"></script>
      <script src="/scripts/directives/mobileMenu/index.js"></script>
      
  </body>
</html>
