<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XXXXX XXXX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link type="text/css" rel="stylesheet" href="dist/index.css">
  </head>
  <body>
      <div ng-app="tmt" ng-controller="mainCtrl">
          <div ng-view></div>
      </div>

      <!-- Libraries -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Controllers -->
      <script src="/scripts/index.js"></script>
      <script src="/scripts/controllers/mainController.js"></script>

      <!-- Directives -->
      <script src="/scripts/directives/header/index.js"></script>
      <script src="/scripts/directives/movieCard/index.js"></script>

      
  </body>
</html>
