<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    a{
        color: #0096d9;
    }
</style>
<body style="background-color: #F2F2F2; font-family: Helvetica; color: #999999;">
    <h4 style="font-weight: 100; color: #0038A8;">ITEMIZED RFQ EMAIL TEMPLATE</h4>
    <div style="background-color: white;">
        <div  class="blibli-img-container" style="margin-bottom: 20px;">
            <img src="https://www.static-src.com/resources/images/logo-blibli.png" alt="">
        </div>
        <div class="user-name" style="margin-bottom: 20px; font-size: 16px; color: #656565;">
            Dear <span >< $Name ></span>,
        </div>
        <div style="padding-bottom: 20px;font-size: 16px; color: #656565; margin-bottom: 20px;">
            <span>Terima kasih telah menggunakan Request For Quotation (RFQ) Blibli B2B.</span>
        </div>
    </div>
    
    <div style="padding: 20px;">
        <div style="margin-bottom: 10px;font-size: 16px; color: #656565;">
            <span>RFQ telah kami terima dengan rincian sbb</span>
        </div>
        <table style="width: 100%; font-size: 16px; margin-bottom: 20px; color: #202020;">
            <tr>
                <td height="30">No RFQ</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$5252001508376114</td>
            </tr>
            <tr>
                <td height="30">Nama</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$manika</td>
            </tr>
            <tr>
                <td height="30">Perusahaan </td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$ma</td>
            </tr>
            <tr>
                <td height="30">No Telepon</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$9876543210</td>
            </tr>
            <tr>
                <td height="30">Email</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$manika.singh@gdn-commerce.com</td>
            </tr>
            <tr>
                <td height="30">Industi</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$electrical</td>
            </tr>
            <tr>
                <td height="30">Alamat Pengiriman </td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$w</td>
            </tr>
            <tr>
                <td height="30">Pengiriman </td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$21 May 2018</td>
            </tr>
            <tr>
                <td height="30">RFQ Type:</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$Bulk</td>
            </tr>
            <tr>
                <td height="30">RFQ Document:</td>
                <td style="font-weight: 500"><span style="margin-right: 15px;">:</span>$Abc.jpg</td>
            </tr>
        </table>
    </div>

    <div style="background-color: yellow; color: #999999; margin-bottom: 20px;">
        <span>Kami lampirkan Dokumen RFQ yang telah Anda upload.</span>
    </div>
    
    <div style="background-color: #FFFFFF; margin-bottom: 15px;">
        <div style="color: #999999; margin-bottom: 20px;">
            Kami akan memberikan penawaran dalam 2(dua) hari kerja.
        </div>
        <div style="color: #999999; margin-bottom: 20px;">
            Terima kasih telah mempercayai Blibli B2B sebagai pemasok kebutuhan perusahaan Anda.
        </div>
        <div style="color: #999999;margin-bottom: 10px;">
            <span>Salam,</span>
        </div>
        <div style="color: #999999;">
            <span>Blibli B2B</span>
        </div>
    </div>
    
    <!-- <p style="color: #AAAAAA; background-color: #EEEFEF; padding: 5px; font-weight: 300;">
            Jikalau ada keluhan atau pertanyaan silahkan menghubungi Customer Service 24 jam kami di <span style="font-weight: 500; color: black">0804 1 871 871</span> atau email ke : <a href="mailto:group-b2bsales@gdn-commerce.com">group-b2bsales@gdn-commerce.com</a>

    </p> -->

    <div id="bottom-grey-outer-div" class="bottom-page-div" style="padding: 10px 20px; background-color: #ddd; margin-bottom: 40px;">
        <div class="customer-care-block" style="border-bottom: 2px solid #ccc; padding-bottom: 10px;">
          <p>Jikalau ada keluhan atau pertanyaan silahkan menghubungi Customer Service 24 jam kami di
          <span class="bold-font black-font" style="font-family: HelveticaNeue-Medium; font-weight: 500; color: #202020;">0804 1 871 871</span> atau email ke : <a href="mailto:group-b2bsales@gdn-commerce.com">group-b2bsales@gdn-commerce.com</a></p>
        </div>
        <div class="do-not-reply-block" style="border-bottom: 2px solid #ccc; padding: 10px 0px; margin-bottom: 30px;">
          <p>Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.</p>
        </div>
        <table style="width: 100%; margin-bottom: 30px;" cellspacing="0">
          <tr class="cicilan-gratis-customc-icon-div" style="margin-bottom: 30px;">
              <td class="cicilan" style="width: 33%; vertical-align: top;">
                <img src="https://www.static-src.com/resources/images/mailassets/icon-usp-1.png" style="vertical-align: middle;" alt="">
                <span id="cicilan0" style="font-size: 15px; color: #202020; margin-left: 5px;">Cicilan 0%</span>
              </td>
              <td class="gratis" style="width: 33%; vertical-align: top;">
                <img src="https://www.static-src.com/resources/images/mailassets/icon-usp-2.png" style="vertical-align: middle;" alt="">
                <span id="gratisPengiriman" style="font-size: 15px; color: #202020; margin-left: 5px;">Gratis Pengiriman</span>
              </td>
              <td class="customer-care" style="width: 33%; vertical-align: top;">
                <img src="https://www.static-src.com/resources/images/mailassets/icon-usp-3.png" style="vertical-align: middle;" alt="">
                <span id="customerCareSpan" style="font-size: 15px; color: #202020; margin-left: 5px;">24/7 Customer Care</span>
              </td>
          </tr>
        </table>
        <table style="width: 100%;" cellspacing="0">
            <tr class="download-android-apple" style="margin-bottom: 20px;">
              <td class="app-stores-block" style="width: 60%; margin-right: 20px; vertical-align: top;">
                  <div class="download-title" style="margin-bottom: 15px;">
                    Download gratis aplikasi Blibli
                  </div>
                  <div class="links-to-store" style"display: block;">
                    <div class="apple" style="display:inline-block;">
                      <a href="https://itunes.apple.com/id/app/blibli.com/id1034231507?l=id&mt=8" target=''_blank''><img id="appleStore" src="https://www.static-src.com/resources/images/assets/ic_app_store.jpg" style="width: 120px; height: 40px;" alt=""/></a>
                    </div>
                    <div class="android" style="display: inline-block;">
                      <a href="https://play.google.com/store/apps/details?id=blibli.mobile.commerce" target=''_blank''><img id="androidStore" src="https://www.static-src.com/resources/images/assets/ic_google_play.png" style="width: 120px; height: 40px;" alt=""/></a>
                    </div>
                  </div>
              </td>
            <td id="socialLinksBlock" class="social-links-block" style="width: 40%; vertical-align: top;">
              <div class="social-link-title" style="margin-bottom: 15px;">
                  ikuti Kami
              </div>
              <div class="social-links">
                <a href="https://www.facebook.com/bliblidotcom"><img src="https://www.static-src.com/siva/asset/10_2017/facebook-rounded-icon.png" style="width: 40px;vertical-align: top;margin-bottom: 10px;" alt=""></a>
                <a href="https://plus.google.com/+BliblidotcomOfficial"><img src="https://www.static-src.com/siva/asset/10_2017/gplus-rounded-icon.png" style="width: 40px;vertical-align: top;margin-bottom: 10px;" alt=""></a>
                <a href="https://twitter.com/bliblidotcom"><img src="https://www.static-src.com/siva/asset/10_2017/twitter-rounded-icon.png" style="width: 40px;vertical-align: top;margin-bottom: 10px;" alt=""></a>
                <a href="https://www.youtube.com/user/bliblidotcom"><img src="https://www.static-src.com/siva/asset/10_2017/youtube-rounded-icon.png" style="width: 40px;vertical-align: top;margin-bottom: 10px;" alt=""></a>
                <a href="https://www.instagram.com/bliblidotcom/"><img src="https://www.static-src.com/siva/asset//10_2017/instagram-rounded-icon.png" style="width: 40px;vertical-align: top;margin-bottom: 10px;" alt=""></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%;">
            <span>Copyright © 2011-2018 Blibli.com. All Rights Reserved.</span>
          </td>
          <td style="width: 50%; text-align: right;">
            <a href="https://www.blibli.com/member/order" style="border-right: 3px solid #ccc; padding-right: 5px;" target=''_blank''>Pesanan Saya</a>
            <a href="https://www.blibli.com/faq/topic/pembayaran/" style="border-right: 3px solid #ccc; padding-right: 5px;" target=''_blank''>Panduan Pembayaran</a>
            <a href="https://www.blibli.com/pages/self-service" target=''_blank''>Hubungi Kami</a>
          </td>
        </tr>
      </table>
</body>
</html>