<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
</style>
<body>
    <h4 style="font-weight: 100; color: #0038A8;">ITEMIZED RFQ EMAIL TEMPLATE</h4>
    <div class="user-name" style="margin-bottom: 10px; font-size: 15px; color: #CCCCCC;">
        Dear <span >< $Name ></span>,
    </div>
    <div style="margin-bottom: 10px;font-size: 15px; color: #CCCCCC;">
        <span>Terima kasih telah menggunakan Request For Quotation (RFQ) Blibli B2B.</span>
    </div>
    <div style="margin-bottom: 10px;font-size: 15px; color: #CCCCCC;">
        <span>RFQ telah kami terima dengan rincian sbb</span>
    </div>
    <table border="1" style="width: 100%; font-size: 14px; margin-bottom: 20px; border-collapse: collapse;">
        <tr>
            <td height="30">No RFQ:</td>
            <td style="font-weight: bolder">$5252001508376114</td>
        </tr>
        <tr>
            <td height="30">Nama:</td>
            <td style="font-weight: bolder">$manika</td>
        </tr>
        <tr>
            <td height="30">Perusahaan :</td>
            <td style="font-weight: bolder">$ma</td>
        </tr>
        <tr>
            <td height="30">No Telepon:</td>
            <td style="font-weight: bolder">$9876543210</td>
        </tr>
        <tr>
            <td height="30">Email:</td>
            <td style="font-weight: bolder">$manika.singh@gdn-commerce.com</td>
        </tr>
        <tr>
            <td height="30">Industi:</td>
            <td style="font-weight: bolder">$electrical</td>
        </tr>
        <tr>
            <td height="30">Alamat Pengiriman :</td>
            <td style="font-weight: bolder">$w</td>
        </tr>
        <tr>
            <td height="30">Pengiriman :</td>
            <td style="font-weight: bolder">$21 May 2018</td>
        </tr>
        <tr>
            <td height="30">RFQ Type:</td>
            <td style="font-weight: bolder">$Itemized</td>
        </tr>
    </table>

    <table style="font-size: 14px; width: 100%; margin-bottom: 100px; border: 1px solid #EEEEEE; border-collapse: collapse; margin-bottom: 30px;">
        <thead>
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">No.</td>
                <td style="border-bottom: 2px solid #EEEEEE;">Nama Produk.</td>
                <td style="border-bottom: 2px solid #EEEEEE;">Deskripsi</td>
                <td style="border-bottom: 2px solid #EEEEEE;">Qty.</td>
                <td style="border-bottom: 2px solid #EEEEEE;">Price(RP)</td>
            </tr>
        </thead>
        <tbody style="font-size: 12px; font-weight: 100;color: #cccccc;">
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">$1</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Umbro Neo Futsai Pro 20630</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Nike-360 Lebron All Courts... maupun pada saat latihan</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$12</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$685.000</td>
            </tr>
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">$2</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Umbro Neo Futsai Pro 20630</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Nike-360 Lebron All Courts... maupun pada saat latihan</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$12</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$685.000</td>
            </tr>
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">$3</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Umbro Neo Futsai Pro 20630</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Nike-360 Lebron All Courts... maupun pada saat latihan</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$12</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$685.000</td>
            </tr>
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">$4</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Umbro Neo Futsai Pro 20630</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Nike-360 Lebron All Courts... maupun pada saat latihan</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$12</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$685.000</td>
            </tr>
            <tr height="40">
                <td style="border-bottom: 2px solid #EEEEEE;">$5</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Umbro Neo Futsai Pro 20630</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$Nike-360 Lebron All Courts... maupun pada saat latihan</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$12</td>
                <td style="border-bottom: 2px solid #EEEEEE;">$685.000</td>
            </tr>
        </tbody>
    </table>
    <p style="color: #CCC; margin-bottom: 0px; font-weight: 300;">
            Kami akan memberikan penawaran dalam 2(dua) hari kerja.
            Terima kasih telah mempercayai Blibli B2B sebagai pemasok kebutuhan perusahaan Anda.
            
    </p>
    <div style="color: #CCCCCC;">
        <span>Salam,</span>
    </div>
    <div style="color: #CCCCCC;">
        <span>Blibli B2B</span>
    </div>

    <p style="color: #CCCCCC; background-color: #EEEFEF; padding: 5px; font-weight: 300;">
            Jikalau ada keluhan atau pertanyaan silahkan menghubungi Customer Service 24 jam kami di <span style="font-weight: 500; color: black">0804 1 871 871</span> atau email ke : <a href="mailto:group-b2bsales@gdn-commerce.com">group-b2bsales@gdn-commerce.com</a>

    </p>
</body>
</html>