<div class="tmt-header-wrapper">
    <span ng-click="openMenu()()" ng-if="showMenu" class="icon-menu"></span>
    <div class="tmt-icon-cover">
            <img ng-click="reloadPage()" src="./images/TMT_ICON.png" alt="">
    </div>
    <span class="tmt-header"  ng-click="reloadPage()">
        <span style="color: black;">T</span>xxxx
        <span style="color: black;">M</span>xxxxx 
        <span style="color: black;">T</span>xxx
    </span>
    <span class="icon-search"></span>
    <span ng-if="showFilter" ng-click="showModel()" class="icon-filter"></span>
</div>