<div class="about-wrapper">
    <mobile-menu show-menu="showMobileLeftMenu" hide-menu="closeMobileLeftMenu"></mobile-menu>
    <div class="tmt-app-header">
            <tmt-header open-menu="openMobileLeftMenu" show-menu="true" show-filter="false"></tmt-header>
    </div>
    <div class="about-content-wrapper">
        <p>
            TMT is website which contains list of youtube uploaded tamil movies.
        </p>
        <p>            
            The main aim of TMT team is to provide the quick access of tamil movies that are freely available on youtube. 
        </p>
        <div>
                Current version features: 
        </div>
        <div>
            - You can filter the movies based on year.
        </div>
        <div>
            - You can sort the movies based on ratings.
        </div>
        <div>
            - Currently we have 100+ movies listed here.
        </div>
        <div>
            -  Soon will update more...
        </div>
    </div>
</div>