<div class="admin-page-wrapper">
    <h2 style="text-align: center;">Admin Panel</h2>
    <div class="form-wrapper">
        <form name="movieForm.movieRecordInputForm" ng-submit="insertMovieRecord(movieRecordInputForm)" novalidate>
            <div style="margin-bottom: 20px;">
                    <div>Imdb Id</div> 
                    <input ng-model="movie.imdbUrl" style="width: 40%;" type="text" required> <button ng-click="hitImdbAPI()">Search</button>
            </div>
            <div style="margin-bottom: 20px;">
                    <div>Youtube Id </div> 
                    <input ng-model="movie.videoUrl" style="width: 40%;" type="text" required> <button ng-click="checkVideoExistance()">check</button>
            </div>
            <div style="margin-bottom: 20px;">
                <div>Movie Name</div>
                <input ng-model="movie.name" type="text" required>
            </div>
            <div style="margin-bottom: 20px;">
                    <div for="">Actors </div>
                    <input ng-model="movie.actors" type="text" required>
            </div>
            <div style="margin-bottom: 20px;">
                    <div for="">Rating</div>
                    <input ng-model="movie.rating" type="text">
            </div>
            <div>
                <input type="submit" style="width: inherit;">
            </div>
        </form>
    </div>
    <div class="movie-detail-wrapper">
        <div class="poster-wrapper">
            <img src="{{movie.posterUrl}}" width="300" height="315" alt="">
        </div>
        <div class="video-wrapper">
            <iframe ng-if="movie.fullVideoUrl" width="420" height="315" src="{{movie.fullVideoUrl | trustThisUrl}}"></iframe>
        </div>
    </div>
</div>