<div class="admin-page-wrapper">
    <h2 style="text-align: center;">Admin Panel</h2>
    <h2 style="text-align: center;">=================================================================================================</h2>
    <h2 style="text-align: center;">Insert Movie Record</h2>
    <div class="form-wrapper">
        <form name="movieForm.movieRecordInputForm" novalidate>
            <div style="margin-bottom: 20px;">
                    <div>Imdb Id</div> 
                    <input ng-model="movie.imdbUrl" style="width: 40%;" type="text" required> <button type="click" ng-click="hitImdbAPI()">Search</button>
            </div>
            <div style="margin-bottom: 20px;">
                    <div>Youtube Id </div> 
                    <input ng-model="movie.videoUrl" style="width: 40%;" type="text" required> 
                    <button type="click" ng-click="getVideo()">Check</button>
            </div>
            <div style="margin-bottom: 20px;">
                <div>Movie Name</div>
                <input ng-model="movie.name" type="text" required>
            </div>
            <div style="margin-bottom: 20px;">
                    <div for="">Actors </div>
                    <input ng-model="movie.actors" type="text" required>
            </div>
            <div style="margin-bottom: 20px;">
                    <div for="">Rating</div>
                    <input ng-model="movie.rating" type="text">
            </div>
            <div style="margin-bottom: 20px;">
                    <div for="">Poster URL</div>
                    <input ng-model="movie.posterUrl" type="text">
            </div>
            <div>
                <input type="submit" ng-click="addNewMovie(movieRecordInputForm)" style="width: inherit;">
            </div>
        </form>
    </div>
    <div class="movie-detail-wrapper">
        <div class="poster-wrapper">
            <img src="{{movie.posterUrl}}" width="300" height="315" alt="">
        </div>
        <div class="video-wrapper">
            <iframe ng-if="movie.fullVideoUrl" width="420" height="315" src="{{movie.fullVideoUrl | trustThisUrl}}"></iframe>
        </div>
    </div>
    <div>
        <h2 style="text-align: center;">=================================================================================================</h2>
        <h2 style="text-align: center;">Manage Movie Records</h2>
        Total - {{movieList.length}}
        <div class="table-wrapper" style="height: 500px;">
            <div>
                <div>
                    Search Record
                </div>
                <input type="text"  style="width: 25%; margin-bottom: 10px;"  ng-model="admin.searchMovieText">
            </div>
            <table border="1" style="border-collapse: collapse; width: 100%;">
                <thead style="background-color: black; color: yellow;">
                    <td>URL ID</td>
                    <td>Movie Name</td>
                    <td>Year</td>
                    <!-- <td>Postor URL</td> -->
                    <td>Rating</td>
                    <td>option</td>
                </thead>
                <tbody style="background-color: #E8EDFD;">
                        <tr style="height: 35px;" ng-repeat="record in movieList | filter:admin.searchMovieText | limitTo:10">
                                <td>{{record.urlId}}</td>
                                <td>{{record.movieName}}</td>
                                <td>{{record.year}}</td>
                                <!-- <td width="50%"> <div style="text-overflow: ellipsis;width: 50%;white-space: nowrap;overflow: hidden;">{{record.posterUrl}}</div></td> -->
                                <td>{{record.rating}}</td>
                                <td><button ng-click="deleteMovie(record.urlId)">delete</button></td>
                         </tr>
                </tbody>
            </table>
            <div id="resultOfDeleteOperation">

            </div>
        </div>
        <h2 style="text-align: center;">=================================================================================================</h2>
    </div>
</div>