<div class="tmt-app">
    <div class="tmt-app-header">
        <tmt-header></tmt-header>
    </div>
    <div class="tmt-body-wrapper">
        <div class="tmt-filter-wrapper">
            <select class="filter-left" ng-model="selectedYearFilter" ng-change="applyFilter(selectedYearFilter, 'LEFT_FILTER')">
                <option selected disabled value>Year Filter</option>
                <option ng-repeat="x in yearList" value="{{x}}">{{x}}</option>
            </select>
            <select class="filter-right" ng-model="selectedFilter" ng-change="applyFilter(selectedFilter, 'RIGHT_FILTER')">
                    <option selected disabled value>General Filters</option>
                    <option ng-repeat="x in movieFilters" value="{{x.filterId}}">{{x.desc}}</option>
            </select>
        </div>
        <div class="modal-wrapper" ng-if="showModal">
                <modal year-list="yearList" apply-filter="applyFilter" movie-filters="movieFilters" extra-class="'filter-modal'" close-modal="closeModal"></modal>
        </div>
        <div class="tmt-movie-list-wrapper">
                <div ng-if="movieList.length > 0" ng-repeat="movie in movieList" class="tmt-movie-wrapper">
                      <a href="https://www.youtube.com/watch?v={{movie.urlId}}" target="_blank">
                        <movie-card  movie-info="movie" index="$index"></movie-card></a>
                </div>    
                <div ng-if="movieList === undefined || !movieList || showLoader" class="tmt-loader-wrapper">
                        <img src="./images/tmt-loader-50.gif" alt="">
                </div>
                <div ng-if="!showLoader && movieList.length === 0" class="tmt-notfound-wrapper">
                        <img src="./images/not_found.png" alt="">
                </div>
        </div>
    </div>
</div>