@import 'colors.scss';

.tmt-header-wrapper{
    background-color: $header-green;
    color: white;
    padding: 0px 50px;
    .tmt-header{
        font-size: 28px;
        position: absolute;
        left: 40%;
        top: 20px;
    }
    img{
        width: 150px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .tmt-header-wrapper{
        padding: 10px 50px;
    }
}