
// Common styles
.tmt-app{
    .tmt-header{
        position: absolute;
        cursor: pointer;
    }
    .tmt-app-header{
        z-index: 500;
    }
    .tmt-icon-cover{
        cursor: pointer;
    }
    .tmt-movie-wrapper{
        a{
            color: black;
        }
    }
    .tmt-body-wrapper{
        .tmt-filter-wrapper{
            .filter-right{
                float: right;
                padding-left: 5px;
            }
            .filter-left{
                position: relative;
                padding-left: 5px;
            }
        }
        .tmt-movie-list-wrapper{
            width: 100%;
        }
    }    
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.tmt-app{
    .tmt-app-header{
        position: fixed;
        width: 100%;
    }
    .tmt-header-wrapper{
        .tmt-header{
            font-size: 58px;
            left: 26.5%;
            top: 40px;
        }
    }
    .tmt-body-wrapper{
        padding-top: 150px;
        .tmt-filter-wrapper{
            display: none;
        }
        .tmt-mobile-filter-wrapper{
            .filter-right{
                margin-right: 25px;
                font-size: 18px;
                width: 240px;
                height: 50px;
            }
            .filter-left{
                margin-right: 5px;
                font-size: 18px;
                width: 240px;
                height: 50px;
            }
        }
        .tmt-movie-list-wrapper{
            width: 97%;
            padding-left: 30px;
            .tmt-loader-wrapper{
                position: fixed;
                left: 35%;
                top: 43%;
                img{
                    width: 300px;
                }
            }
            .tmt-notfound-wrapper{
                position: fixed;
                left: 36%;
                top: 35%;
                img{
                    width: 300px;
                }
            }
            .tmt-movie-wrapper{
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .movie-card-wrapper{
                width: 450px;
                height: 650px;
                border: 2px solid #CCCCCC;
                border-radius: 10px;
                .circles-text{
                    top: 4px !important;
                }
                img{
                    width: 450px;
                    height: 500px;
                }
                .movie-name{
                    font-size: 36px;
                    width: 360px;
                }
                .actor-details{
                    font-size: 24px;
                }
            }
        }
    }
    .filter-modal{
        height: 50%;
    }
}
}

/* Desktop (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) {
.tmt-app{
    .tmt-app-header{
        position: fixed;
        width: 100%;
    }
    .tmt-body-wrapper{
        padding-top: 100px;
        .tmt-movie-list-wrapper{
            margin: auto;
            width: 95%;
            padding-left: 15px;
            .tmt-loader-wrapper{
                position: fixed;
                left: 44%;
                top: 42%;
                img{
                    width: 150px;
                }
            }
            .tmt-notfound-wrapper{
                position: fixed;
                left: 42%;
                top: 40%;
                img{
                    width: 200px;
                }
            }
            .tmt-movie-wrapper{
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                a{
                    color: black;
                }
            }
            .tmt-movie-wrapper:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
        .tmt-filter-wrapper{
            .filter-right{
                margin-bottom: 20px;
                margin-right: 50px;
                height: 25px;
                padding-left: 10px;
            }
            .filter-left{
                margin-bottom: 20px;
                margin-right: 50px;
                height: 25px;
                position: relative;
                left: 40px;
                padding-left: 10px;
                margin-left: 12px;
            }
        }
    }
}
}


