@import 'colors';
.checked{
    color: orange;
}
.movie-card-wrapper{
    width: 220px;
    height: 365px;
    display: inline-block;
    background-color: white;
    border: 1px solid $grey_eee;
    border-radius: 4px;
    vertical-align: bottom;
    img{
        width: 220px;
        height: 275px;
    }
    .movie-info-container{
        padding: 8px;
        .movie-name-rating{
            .movie-name{
                font-size: 16px;
                display: inline-block;
                text-overflow: ellipsis;
                width: 170px;
                white-space: nowrap;
                overflow: hidden;
            }
            .rating{
                display: inline-block;
                font-size: 12px;
                float: right;
                position: relative;
                top: 5px;
            }
        }
    }
    .actor-details-certificate{
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 5px;
        .actor-details{
            font-size: 12px;
        }
    }
    .circles-wrp{
        top: -7px;
    }
}